{% extends "base.html" %}

{% block title %}
    <title> Neibor | Login</title>
{% endblock title %}

{% block content %}

    <div class="flex w-full justify-center items-center mt-15">
        <div class="card w-full max-w-sm shrink-0 shadow-2xl">
            <div class="card-body">
            <fieldset class="fieldset ">

                <form method="POST" action="">

                {% csrf_token %}

                        <h1 class="text-2xl font-bold mb-4" align="center"> Sign In </h1>


                    <label class="label ml-2">Username</label>
                    <div class="w-full flex justify-center items-center">
                        <input type="text" class="input"  placeholder="John123" name="username" />
                    </div>
                    <br>

                    <label class="label ml-2">Password</label>
                    <div class="w-full flex justify-center items-center">
                        <input type="password" class="input" placeholder="Password" name="password"/>
                    </div>
                    <br>

                    <div class="w-full flex justify-center items-center">
                            <input type="checkbox" class="checkbox validator" required title="Required" />
                            <label class="label ml-2">I am not a robot</label>
                    </div>
                    <button class="btn btn-neutral mt-5 btn-block" type="submit" align="center">Login</button>
                    <div class="w-full flex justify-center items-center">
                        <a href="{% url 'register' %}" class="mt-2" align="center">Don't have an account?</a>

                    </div>

                </form>

            </fieldset>
            </div>
        </div>
    </div>


{% endblock content %}