{% extends "base.html" %}

{% block title %}
    <title>Neibor | Register</title>
{% endblock title %}

{% block content %}

    <div class="flex w-full justify-center  mt-5">
        <div class="card w-130 shrink-0 shadow-2xl">
            <div class="card-body">
                <fieldset class="fieldset">


                    <form method="POST" action="{% url 'register' %}">
                        {% csrf_token %}


                        <h1 class="text-2xl font-bold mb-4" align="center"> Registration </h1><br>

                        <div class="w-full flex justify-center items-center">
                            <div class="m-1">
                                <label class="label ">First Name</label><br>
                                <div class="input" align="center">
                                        {{ form.first_name }}
                                </div>
                            </div>
                            <div class="ml-6 mr-6">

                            </div>

                            <div class="m-1">
                                <label class="label justify-end w-full flex ">Last Name</label>
                                <div class="input" align="center">
                                        {{ form.last_name }}
                                </div>
                            </div> <br>

                        </div><br>

                        <div class="w-full flex justify-center items-center">
                            <div class="m-1">
                                <label class="label ">Username</label><br>
                                <div class="input" align="center">
                                        {{ form.username }}
                                </div>
                            </div>
                            <div class="ml-6 mr-6">

                            </div>

                            <div class="m-1">
                                <label class="label justify-end w-full flex ">Password</label>
                                <div class="input" align="center">
                                        {{ form.password1 }}
                                </div>
                            </div> <br>

                        </div><br>






                        <div class="w-full flex justify-center items-center">
                            <div>
                                <label class="label flex justify-center items-center">Password Confirmation</label>
                                <div class="input w-60">
                                    {{ form.password2 }}
                                </div>
                            </div>
                        </div><br>





                        <button class="btn btn-neutral mt-6 btn-block" type="sumbit" align="center">Register</button>
                        <div class="w-full flex justify-center items-center">
                            <a href="{% url 'login' %}" class="mt-2" align="center">Already Have an Account?</a>
                        </div>

                    </form>
                </fieldset>
            </div>
        </div>
    </div><br> <br>


{% endblock content %}

