{% extends "base.html" %}

{% block title %}
    <title>Neibor | Register</title>
{% endblock title %}

{% block content %}

    <div class="flex w-full justify-center items-center mt-5">
        <div class="card w-full max-w-md shrink-0 shadow-2xl">
            <div class="card-body">
                <fieldset class="fieldset">
                    <form method="POST" action="{% url 'register' %}">
                        {% csrf_token %}
                        {% if form.errors %}
                            <div class="toast">
                                <div class="alert alert-success">
                                    <span>form.errors</span>
                                    <button class="btn btn-ghost btn-sm" onclick="this.closest('.toast').style.display='none'">✕</button>
                                </div>
                            </div>
                        {% endif %}

                        <h1 class="text-2xl font-bold mb-4" align="center"> Registration </h1>

                        <label class="label ml-10">First Name</label><br>
                        <div class="w-full flex justify-center items-center ">
                            <div class="input" align="center">
                                {{ form.first_name }}
                            </div>
                        </div><br>



                        <label class="label ml-10">Last Name</label><br>
                        <div class="w-full flex justify-center items-center">
                            <div class="input">
                                {{ form.last_name }}
                            </div>
                        </div><br>



                        <label class="label ml-10">Username</label><br>
                        <div class="w-full flex justify-center items-center ">
                            <div class="input " >
                                {{ form.username }}
                            </div>
                        </div><br>


                        <label class="label ml-10">Password</label><br>
                        <div class="w-full flex justify-center items-center ">
                            <div class="input">
                                {{ form.password1 }}
                            </div>
                        </div><br>



                        <label class="label ml-10">Password Confirmation</label><br>
                        <div class="w-full flex justify-center items-center ">
                            <div class="input">
                                {{ form.password2 }}
                            </div>
                        </div>





                        <button class="btn btn-neutral mt-6 btn-block" type="sumbit" align="center">Register</button>
                        <div class="w-full flex justify-center items-center">
                            <a href="{% url 'login' %}" class="mt-2" align="center">Already Have an Account?</a>
                        </div>

                    </form>
                </fieldset>
            </div>
        </div>
    </div><br> <br>


{% endblock content %}