{% extends "base.html" %}

{% block content %}
    <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
        <div class="card-body">
            <fieldset class="fieldset">
                <h1 class="text-2xl font-bold" align="center">Join Today!</h1>

                <label class="label">Email</label>
                <input type="email" class="input" placeholder="Email" />

                <label class="label">Password</label>
                <input type="password" class="input" placeholder="Password" />
                <div><a class="link link-hover">Forgot password?</a></div>

                <button class="btn btn-neutral mt-4" type="submit">Login</button>
            </fieldset>
        </div>
    </div>
{% endblock %}

