{% extends "base.html" %}


{% block title %}
    <title>Neibor | Add a Business</title>
{% endblock title %}

{% block content %}
    <div class="flex w-full justify-center items-center mt-7">
        <div class="card w-full max-w-xl shrink-0 shadow-2xl">
            <div class="card-body">
            <fieldset class="fieldset ">

                <form method="POST" enctype="multipart/form-data" action="">

                    {% csrf_token %}

                    <h1 class="text-2xl font-bold mb-8" align="center"> Add a Business </h1>


                    <label class="label ml-27 mb-1" required title="required">Business Name</label>
                    <div class="w-full flex justify-center items-center">
                        <input type="text" class="input"  placeholder="" name="name" />
                    </div>
                    <br>

                    <label class="label ml-27 mb-1">Image</label>
                    <div class="w-full flex justify-center items-center">
                        <input type="file" class="file-input" accept="image/png, image/jpg, image/jpeg" name="image"/>
                    </div>
                    <br>

                    <label class="label ml-27 mb-1">Category</label>
                    <div class="w-full flex justify-center items-center">
                        <select class="select" name="category">
                            <option disabled selected>Pick a Category</option>
                            <option>Food</option>
                            <option>Retail</option>
                            <option>Services</option>
                        </select>

                    </div>
                    <br>

                    <label class="label ml-27 mb-1">Description</label>
                    <div class="w-full flex justify-center items-center">
                        <input type="text" class="input"  placeholder="" name="description" />
                    </div>
                    <br>

                    <label class="label ml-27 mb-1">Address</label>
                    <div class="w-full flex justify-center items-center">
                        <input type="text" class="input" placeholder="" name="address"/>
                    </div>
                    <br>



                    <button class="btn btn-neutral mt-5 btn-block" type="submit" align="center">Create</button>

                    <br>
                </form>

            </fieldset>
            </div>
        </div>
    </div>
    <br>
    <br>
{% endblock content %}
