{% extends "base.html" %}


{% block title %}
    <title>Neibor | Dashboard</title>
{% endblock title %}

{% block content %}
    <div class="flex w-full  justify-center ">
        <div class="card w-full max-w-2xs shrink-0 shadow-2xl bg-blue-200 mr-8 m-5 mt-10 h-100">
            hello
        </div>

        <div class="card w-full max-w-5xl shrink-0  m-5">
            <div class="grid grid-cols-1 grid-cols-3 ">

                {% for item in allBusinesses %}
                        <div class="card bg-base-100 w-75 shadow-2xl m-5" >
                            <figure class="bg-black">
                                <img src="{{ item.image.url }}" alt="{{ item.name }}" class="w-80 h-40"/>
                            </figure>
                            <div class="card-body">
                                <h2 class="card-title">{{item.name}}</h2>
                                <p>{{item.description}}</p>

                                <div class="flex w-full mt-3">

                                    <div class="rating">
                                        {% for numbers in number_range %}
                                            {% if item.rating == numbers %}
                                                <div class="mask mask-star" aria-label="{{numbers}} star" aria-current="true"></div>
                                            {% else %}
                                                <div class="mask mask-star" aria-label="{{numbers}} star"></div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>

                                    <div class="card-actions justify-end w-full flex ">
                                        <div class="badge badge-outline ">{{item.category}}</div>
                                    </div>

                                </div>


                                <label class="btn btn-soft btn-secondary btn-sm mt-2" for="{{item.name}}">Learn More → </label>
                                <input type="checkbox" id="{{item.name}}" class="modal-toggle"/>
                                <div class="modal" role="dialog">
                                    <div class="modal-box max-w-6xl">
                                        <h3></h3>
                                        <div class="modal-action">
                                            <label for="{{item.name}}" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">x</label>
                                        </div>


                                        <div class="flex w-full justify-center">
                                            <div class=" mb-5 mr-10">
                                                <figure class="bg-black">
                                                    <img src="{{ item.image.url }}" alt="{{ item.name }}" class="w-170 h-90"/>
                                                </figure><br>
                                                <h2 class="card-title text-2xl">{{item.name}}</h2>
                                                <p>{{item.description}}</p>
                                            </div>
                                            <div class="card m-5 ml-5 mt-5 mr-5">

                                                <h2 class="card-title text-xl">Address:</h2>
                                                <h1 class="text-md">{{item.address}}</h1>
                                                <br>
                                                <h2 class="card-title text-xl">Rating:</h2>
                                                <div class="rating">
                                                    {% for numbers in number_range %}
                                                        {% if item.rating == numbers %}
                                                            <div class="mask mask-star" aria-label="{{numbers}} star" aria-current="true"></div>
                                                        {% else %}
                                                            <div class="mask mask-star" aria-label="{{numbers}} star"></div>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div> <br><br>

                                                <h2 class="card-title text-xl">Been here before?</h2>








                                                <form >
                                                    <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">

                                                        <legend class="fieldset-legend">Rate this Business</legend>
                                                        <div class="rating">
                                                            <input type="radio" name="rating" class="rating-hidden" checked value="{{item.name}}"/>
                                                            <input type="radio" name="rating" class="rating-hidden"/>
                                                            <input type="radio" name="rating" class="mask mask-star-2 bg-orange-400" aria-label="1 star" value="1"/>
                                                            <input type="radio" name="rating" class="mask mask-star-2 bg-orange-400" aria-label="2 star" value="2" />
                                                            <input type="radio" name="rating" class="mask mask-star-2 bg-orange-400" aria-label="3 star" value="3"/>
                                                            <input type="radio" name="rating" class="mask mask-star-2 bg-orange-400" aria-label="4 star" value="4"/>
                                                            <input type="radio" name="rating" class="mask mask-star-2 bg-orange-400" aria-label="5 star" value="5" />
                                                        </div>
                                                        <button class="btn btn-neutral mt-4" type="submit">Submit</button>
                                                    </fieldset>
                                                </form>






















                                            </div>

                                        </div>



                                    </div>
                                    <label class="modal-backdrop" for="{{item.name}}">Close</label>

                                </div>




                            </div>
                        </div>
                {% endfor %}

            </div>
        </div>

    </div><br><br>
{% endblock content%}