{% extends "base.html" %}


{% block title %}
    <title>Neibor | Dashboard</title>
{% endblock title %}

{% block content %}
    <div class="flex w-full bg-blue-100 justify-center items-center">
        <div class="card w-full max-w-2xs shrink-0 shadow-2xl bg-blue-200 mr-10">
hello
        </div>

        <div class="card w-full max-w-4xl shrink-0 shadow-2xl m-5 bg-blue-200">
            <div class=" list list-col-wrap ">

                {% for item in allBusinesses %}
                        <div class="card bg-base-100 w-96 shadow-sm m-5">
                            <figure class="bg-black">
                                <img src="{{ item.image.url }}" alt="{{ item.name }}" class="w-100 h-50"/>
                            </figure>
                            <div class="card-body">
                                <h2 class="card-title">{{item.name}}</h2>
                                <p>{{item.description}}</p>
                                <div class="card-actions justify-end">
                                    <div class="badge badge-outline">{{item.category}}</div>
                                </div>

                            </div>
                        </div>
                {% endfor %}
            </div>
        </div>

    </div>
{% endblock content%}