{% load static %}

<!DOCTYPE html>
<html data-theme="winter">
<head>
    <title>Neibor | Home</title>
    {% load static %}
<link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/combine/npm/daisyui@5/base/rootcolor.css,npm/daisyui@5/base/rootscrolllock.css,npm/daisyui@5/base/scrollbar.css,npm/daisyui@5/base/reset.css,npm/daisyui@5/base/properties.css,npm/daisyui@5/base/rootscrollgutter.css,npm/daisyui@5/base/svg.css,npm/daisyui@5/components/button.css,npm/daisyui@5/components/menu.css,npm/daisyui@5/components/checkbox.css,npm/daisyui@5/components/input.css,npm/daisyui@5/components/toggle.css,npm/daisyui@5/components/select.css,npm/daisyui@5/theme/light.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />




</head>
<body>

<div class="navbar bg-base-100 shadow-lg pl-10 pr-10" >
    <div class="navbar-start">
        <div class="dropdown">
            <div tabindex="0" role="button", class="btn btn-ghost btn-circle">
                <svg style="" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /> </svg>
            </div>
            <ul
                tabindex="-1"
                class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
                <li><a href="">Home</a></li>
                <li><a>Explore</a></li>
                <li><a>About</a></li>
            </ul>
        </div>
    </div>
    <div class="navbar-center justify-center ">

        <img src="{% static 'neiborLogoWhite.png' %}" width="25%">

    </div>
    <div class="navbar-end">
            <BUTTON class="btn btn-outline" style="margin-right:3%"> Login</BUTTON>
            <a class="btn btn-neutral" style="margin-right:3%">Register</a>
    </div>
</div>
<br>
<div class="flex w-full h-full flex-col lg:flex-row p-20 ">
    <div class="pl-10">
        <span class="text-rotate text-8xl font-bold duration-6000">
            <span class="justify-items-left">
                <span class="text-orange-600">EXPLORE</span>
                <span class="text-blue-900">DISCOVER</span>
                <span class="text-green-700">SUPPORT</span>
            </span>
        </span>
        <br>

        <label class="font-bold text-6xl text-black pl-1"> Local Businesses</label>
        <br>
        <label class="font-bold text-7xl text-black">Around You</label>
        <br>
        <br>
        <button class="btn btn-neutral btn-lg"><a class="text-xl">Get Started → </a></button>
    </div>
    <div class="justify-items-center">
        <img src="{% static 'sidePic.png' %}"  >

    </div>
</div>

</body>

</html>