{% extends "base.html" %}

{% block title %}
    <title>Neibor | Instructions </title>
{%endblock title%}

{% block content %}
    <h1 class="text-3xl font-bold w-full justify-center items-center p-5" align="center"> Instructions and Q&A</h1>
    <div class="w-full justify-center mt-10" align="center" >
        <details tabindex="0" class="collapse bg-base-100  border collapse-arrow w-200" >
            <summary class="collapse-title font-semibold"> How do I use this website?</summary>
            <div class="collapse-content text-sm m-5">
                First, create an account and login. Then, navigate over to the dashboard page to explore and support local businesses. If you have a small business, register it under the "Add a Business" page.
            </div>
        </details>
        <details tabindex="0" class="collapse bg-base-100  border collapse-arrow w-200 m-5" >
            <summary class="collapse-title font-semibold"> How can I add my own business?</summary>
            <div class="collapse-content text-sm m-5">
                First, create an account and login. Then, navigate over to the "Add a Business" page. Enter the name and a few details about you business, including a picture. And, done! Check out your business in the dashboard page!
            </div>
        </details>
        <details tabindex="0" class="collapse bg-base-100  border collapse-arrow w-200 m-5" >
            <summary class="collapse-title font-semibold"> Are there any deals or discount right now?</summary>
            <div class="collapse-content text-sm m-5">
                Check out the Coupons page for any coupons or deals at the moment.
            </div>
        </details>
    </div>
{% endblock content %}