{% extends "base.html" %}

{% block title %}
    <title>Neibor | Instructions </title>
{%endblock title%}

{% block content %}

    <h1 class="text-3xl font-bold w-full justify-center items-center p-5" align="center"> Instructions and Q&A</h1>
    <div class="flex w-full">


        <div class=" justify-center mt-20 m-5" align="center" >

            <details tabindex="0" class="collapse bg-base-100  border collapse-arrow w-150" >
                <summary class="collapse-title font-semibold"> How do I use this website?</summary>
                <div class="collapse-content text-sm m-5">
                    First, create an account and login. Then, navigate over to the dashboard page to explore and support local businesses. If you have a small business, register it under the "Add a Business" page.
                </div>
            </details>
            <details tabindex="0" class="collapse bg-base-100  border collapse-arrow w-150 m-5" >
                <summary class="collapse-title font-semibold"> How can I add my own business?</summary>
                <div class="collapse-content text-sm m-5">
                    First, create an account and login. Then, navigate over to the "Add a Business" page. Enter the name and a few details about you business, including a picture. And, done! Check out your business in the dashboard page!
                </div>
            </details>
            <details tabindex="0" class="collapse bg-base-100  border collapse-arrow w-150 m-5" >
                <summary class="collapse-title font-semibold"> Are there any deals or discount right now?</summary>
                <div class="collapse-content text-sm m-5">
                    Check out the Coupons page for any coupons or deals at the moment.
                </div>
            </details>

        </div>



        <div class="divider divider-horizontal m-5">OR</div>

        <div class="card bg-base-200 w-full m-5 mt-10 mr-20 h-80 overflow-y-auto">


            <h1 class="title bg-blue-200 text-2xl font-bold p-2 sticky" align="center"> Chatbot </h1>


            {% if answer != "" %}

                <div class="chat chat-end m-5 mt-1">
                    <div class="chat-bubble">
                        {{question}}
                    </div>
                </div>


                <div class="chat chat-start m-5 mt-1">
                    <div class="chat-bubble bg-">
                        <!--question two-!--->
                        {{answer}}
                    </div>
                </div>
                {% if 1 == 1 %}
                <div class="chat chat-end m-5 mb-1">
                    <div class="btn btn-outline btn-primary">

                        <!--question one-!--->
                        <form method="POST">
                            {% csrf_token %}
                                <div class="rating">
                                    <input class="rating-hidden" checked type="radio" name="q1" value="favoriteQuestion1">
                                </div>
                            <button type="sumbit" name="action" value="How do I add a business to my favorites?">How do I add a business to my favorites?</button>
                        </form>

                    </div>

                </div>
                <div class="chat chat-end m-5 mt-1">
                    <div class="btn btn-outline btn-primary">
                        <!--question two-!--->

                        <form method="POST">
                            {% csrf_token %}
                                <div class="rating">
                                    <input class="rating-hidden" checked type="radio" name="q1" value="favoriteQuestion2">
                                </div>
                            <button type="sumbit" name="action" value="How to create a business account?">How to create a business account?</button>
                        </form>
                    </div>
                </div>
                {% endif %}


            {% else %}
                <div class="chat chat-end m-5 mb-1">
                    <div class="btn btn-outline btn-primary">

                        <!--question one-!--->
                        <form method="POST">
                            {% csrf_token %}
                                <div class="rating">
                                    <input class="rating-hidden" checked type="radio" name="q1" value="favoriteQuestion1">
                                </div>
                            <button type="sumbit" name="action" value="How do I add a business to my favorites?">How do I add a business to my favorites?</button>
                        </form>

                    </div>

                </div>
                <div class="chat chat-end m-5 mt-1">
                    <div class="btn btn-outline btn-primary">
                        <!--question two-!--->

                        <form method="POST">
                            {% csrf_token %}
                                <div class="rating">
                                    <input class="rating-hidden" checked type="radio" name="q1" value="favoriteQuestion2">
                                </div>
                            <button type="sumbit" name="action" value="How to create a business account?">How to create a business account?</button>
                        </form>
                    </div>
                </div>


                <div class="chat chat-start m-5 mt-1">
                    <div class="chat-bubble bg-">
                        <!--question two-!--->
                        {{answer}}
                    </div>
                </div>
            {% endif %}



        </div>



    </div>

    

{% endblock content %}